:root {
  --ff-main: "Montserrat", sans-serif;
  --ff-secondary: "Fraunces", serif;
  --fw-light: 500;
  --fw-bold: 700;
  --fw-secondary: 700;
  --clr-container: hsl(0, 0%, 100%);
  --clr-main: hsl(228, 12%, 48%);
  --clr-secondary: hsl(158, 36%, 37%);
  --clr-main-bg: hsl(30, 38%, 92%);
  --clr-main-heading: hsl(212, 21%, 14%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body,
button {
  font-family: var(--ff-main);
  font-weight: var(--fw-light);
  color: var(--clr-main);
  background-color: var(--clr-main-bg);
  line-height: 1.5;
}

.letter-gap {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

h1 {
  color: var(--clr-main-heading);
  font-family: var(--ff-secondary);
  line-height: 1;
  font-weight: var(--fw-bold);
}

p {
  font-size: 14px;
}

.big-price {
  color: var(--clr-secondary);
  font-family: var(--ff-secondary);
  font-size: 2rem;
  font-weight: var(--fw-bold);
}

.crossed-price {
  text-decoration: line-through;
  vertical-align: 30%;
  margin-left: 1.5rem;
}

.container {
  background-color: var(--clr-main-bg);
  padding: 1.5rem 1rem;
  border-radius: 1rem;
}

.product-photo {
  border-radius: 0.5rem 0.5rem 0 0;
}

.right {
  background-color: var(--clr-container);
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 1.3rem;
}

.right * + * {
  margin-top: 0.7rem;
}

.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  max-width: 302px;
  margin-inline: auto;
  padding-block: 0.75rem;
  color: var(--clr-main-bg);
  background-color: var(--clr-secondary);
  border: 0;
  border-radius: 0.5rem;
  font-weight: var(--fw-bold);
  cursor: pointer;
}

@media (min-width: 600px) {
  body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
    display: flex;
    max-width: 50%;
    margin: 0 auto;
  }

  .left,
  .right {
    max-width: 50%;
  }

  .product-photo {
    border-radius: 1rem 0 0 1rem;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 2rem;
    border-radius: 0 1rem 1rem 0;
  }

  .right * {
    margin: 0;
  }

  .crossed-price {
    margin-left: 1.5rem;
  }
}
